.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  position: relative;
  cursor: pointer;
}
.name {
  font-size: 20px;
}
.photo {
  max-width: 80px;
  border-radius: 50%;
}
