.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
}
.item {
  list-style: none;
}

.link {
  font-size: 20px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
.link:hover {
  color: red;
}
